# More in https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

LICENSE                                 @loft-br/squad-devtools
README.md                               @loft-br/squad-devtools
/.github/workflows/cloudify*            @loft-br/squad-devtools
