# Documentation https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


# Repository Ownership
*                                        @loft-br/squad-devtools
!/.github/workflows/                     @loft-br/squad-devtools


# Workflows Ownership
/.github/workflows/cloudify-*.yaml       @loft-br/squad-devtools
