# Documentation https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


# Repository Ownership
LICENSE                                  @loft-br/squad-devtools
README.md                                @loft-br/squad-devtools
CODEOWNERS                               @loft-br/squad-devtools


# Workflows Ownership
/.github/workflows/cloudify-*.yaml       @loft-br/squad-devtools
/.github/workflows/hammer.yaml       @loft-br/squad-devtools
