# More in https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

/.github/                                   @loft-br/squad-devtools
/cloudify/                                  @loft-br/squad-devtools
